.computer
  margin-top: 150px
  align-items center
  text-align center
  &__title
    font-size: 36px;
    line-height: 42px;
    color $blue
    letter-spacing: 0.33px
    padding: 0 230px 0 230px
    & > span
      color $or
  &__dec
    font-size: 15px
    line-height: 20px
    letter-spacing: 0.2px
    color $colorP
    padding: 0 350px 0 350px
  &__list
    display: flex
    justify-content: space-between
    &__item
      width: 33%
      &__title
        font-size: 36px
        line-height: 42px
        color $blue
        margin-top: 48px
        margin-bottom: 0
      &__text
        font-size: 15px
        line-height: 20px
        color $colorP
        margin-top: 16px
        padding: 0 40px 0 45px

