.getdown__img
  width: 100%
  position relative
  margin-top: 150px
.card
  position absolute
  margin-top -500px
  background rgba(60 62 125 0.19)
  backdrop-filter blur(134px)
  border-radius 5px
  text-align center
  height: 324px
  &__title
    margin-top: 50px
    font-size: 36px
    line-height: 43px
    color $or
  &__des
    margin-top: 20px
    font-size: 16px
    line-height: 22px
    color $blue-1
    padding 0 250px 0 250px

  &__click
    margin-top: 23px
    display: flex
    justify-content: center
  &__input
    border-radius: 5px 0 0 5px
    opacity 0.1
    outline none
    background-color: #F6F6F6
    width 300px
    height 56px
    font-size: 20px
    padding-left: 16px
    border none

  &__button
    border-radius: 0 5px 5px 0
    width 129px
    height 58px
    outline none
    border 0
    background-color: $or
    color white
    padding: 0
    text-transform uppercase
    font-weight: 500
    font-size: 12px
    line-height: 20px
    letter-spacing: 2px
    cursor pointer
    &:hover
      color $or
      background-color transparent
      border: 1px solid $or

  &__footer
    margin-top: 16px
    font-size: 14px
    line-height: 20px
    letter-spacing: 0.2px
    color $blue-1


