.header
    position fixed
    width 100%
    z-index 2000
    &__container
        display flex
        align-items: center

        &__logo
            margin-right 20px

        &__nav
            display: flex
            font-size (12 / $fontSize)rem
            letter-spacing 2px
            text-transform: uppercase

            & > a
                margin-right 20px
                color $grey

                &:last-child
                    margin-right 0
        &__btn-block
            margin-left auto
            & >a
                border 1px solid $or
                box-sizing border-box
                border-radius 4px
                font-size 12px
                line-height 20 / 12
                text-align center
                letter-spacing: 2px
                text-transform: uppercase
                color $or
                padding 7px 27px
                transition: all .3s

                &:first-child:hover
                    background-color $or
                    color $white
                &:last-child
                    color $white
                    background-color $or
                    

                    &:hover
                        background-color $orhover


    

    

        
    
