.help
  display: flex
  margin-top: 190px

  &__left
    width: 50%
    & > img
      margin-left: 40px
  &__right
    width: 50%
    &__title
      font-size 26px
      line-height 32px
      letter-spacing 0.325px
      color $blue
    &__des
      font-size 15px
      line-height 20px
      letter-spacing 0.2px
      color $blue-1
      margin-top: 32px
    &__main
      margin-top: 48px
      &__list
        display: flex
        padding 0
        &__item
          &__title
            font-size 15px
            line-height 18px
            letter-spacing 0.2px
            color $blue
          &__dec
            font-size 15px
            line-height 20px
            letter-spacing 0.2px
            color $blue-1
            padding-right: 40px

