.next-project
  margin-top: 140px
  text-align center
  align-items center
  &__title
    font-size: 42px
    line-height: 50px
    color $blue
    padding 0 200px 0 200px
    margin-bottom: 0
    & > span
      color $or
  &__btn
    width: 157px;
    height: 46px;
    border-radius: 3px;
    border: none
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .5s
    background $or
    color: $white
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23)
    margin-top: 46px
    position absolute
    z-index 100
    margin-left: 475px
    &:hover
      color $or
      background-color transparent
      border: 1px solid $or
      cursor pointer
  &__img
    position relative
    z-index 10
    margin-top: -20px

