.your-choice
  margin-top: -50px
  display: flex
  position absolute
  &__bg
    opacity 0.1
  &__main
    align-items center
    text-align center
    &__title
      font-size 42px
      line-height 50px
      color $white
      margin-top: 98px
      margin-bottom: 13px
    &__dec
      font-size 16px
      line-height 22px
      color $blue-1
    &__list
      display: flex
      flex-wrap wrap
      justify-content: center
      &__item
        display: flex
        width: 30%
        &__img
          width: 60px
          height: 60px
          margin-top: 20px
        &__text
          margin-right: 40px
          margin-left: 30px
          text-align start
          &__titel
            font-size 18px
            line-height 22px
            color $blue
          &__dec
            font-size 14px
            line-height 22px
            color $colorP