@media screen and (max-width 1440px)
  .hero__col
    padding-top 200px
    &__title
      font-size 34px
      margin-bottom 15px
    &__cop
      font-size 16px
      margin-bottom 30px
  .your-choice__bg
    display none
  .your-choice
    margin-left: 70px
@media screen and (max-width 1024px)
  .header__container__btn-block
    display: none
  .hero__col
    padding-top 150px
  .your-choice__header-img
    margin-top: 30px
  .hero
    height auto
  .hero__img
    position relative
    margin-left auto
    left: 0
  .your-choice
    margin-left: 0
  .your-choice__bg
    display none
  .your-choice__main__title
    margin-top: 20px
  .your-choice__main__dec
    font-size: 20px
  .your-choice__main__list__item
    width: 50%
    &__img
      width: 80px
      height: 50px
      &> img
        width: 100%
        height: 100%
    &__text
      text-align center
      &__titel
        font-size: 18px
      &__dec
        font-size: 13px
  .computer__title
    padding: 0 20px 0 20px
  .computer__dec
    padding: 0 30px 0 30px
    font-size: 18px
  .next-project
    text-align center
  .next-project__btn
    margin-left: 400px
  .business__block-img__graf
    right: 250px
  .business__block-img__point
    display none
  .card
    margin-top: 20px
    position relative
    &__title
      padding-top: 30px
  .getdown__img
    display none
  .footer__main
    margin-top: 10px
  .footer__footer
    margin-top: 40px





@media screen and (max-width 768px)
  .header
    &__container
      &__nav, &__btn-block
        display: none
      &__btn-menu
        display block
        &:hover + .header__container__menu-mob
          left 0

  .hero__col__block-btn
    margin-left: 170px
  .hero

    &__col
      width 100%
      &__title
        text-align: center
        font-size 26px
        margin-bottom 10px
      &__cop
        padding 0 130px 0 130px
        text-align: center
        font-size 15px

      &__footer
        flex-direction: column
        align-items: center
        text-align: center
        margin-top 20px
        &__play
          width 60%
          height 200px
          & > img
            width 60px
            height 60px
            padding-top 65px
        &__text__title
          padding 0 180px 0 180px
        &__text__cop
          margin-top 0
    &__img
      position relative
      margin-left auto
      display block
  .grafic
    &__block
      display flex
      flex-direction column
      justify-content center
    &__col
      text-align: center
      width 100%
      max-width: none
      &__title
        padding 0
      &__dec
        margin-top 15px
        padding 0 90px 0 90px
      &__btn
        margin 0 auto
        margin-top 20px
        padding 10px 30px 10px 30px
    &__block-img
      margin-top 130px
      margin-left 120px
      &__graf
        width 80%
        left 300px
        top -100px
      &__people
        width 100%
      &__graf-svg
        left 0
        top 20px
      &__point
        left 20px
        bottom 30px
  .your-choice__main__list__item__img
      width 54px
      height 24px
  .next-project__title
    padding: 0 20px 0 20px
  .next-project__btn
    margin-left: 280px
  .business__block-img__graf-svg
    left: -11px
    top: 49px
  .business__block-img__graf
    right: 148px
    top: 182px
  .business__col__title
    padding: 0
  .business__col
    width: 55%
  .help__left>img
    margin-left: 0
  .help__right
    margin-left: 30px
  .help__right__title
    margin: 0
  .help__right__des
    margin-top: 20px
    margin-bottom: 0
  .help__right__main__list__item__title
    margin: 0
  .help__right__main__list__item__dec
    padding: 0 10px 0 0
  .card__des
    padding: 0 60px 0 60px
@media screen and (max-width 500px)
  .hero
    &__col, &__img
      width 100%
    &__col__title
      padding 0 20px 0 20px
    &__col__cop
      margin 0
      padding 0 10px 0 10px
      width 90%
    &__col__footer__text__title
      padding 0
    &__col__footer__play
      height 150px
    &__col__footer__play> img
      padding-top 45px
  .grafic
    &__block
      width 100%

    &__block-img
      margin-top 140px
      margin-left 0
      width 100%
      &__graf
        left 150px
        top -120px
        width 40%
      &__people
        left 0
        width 250px
      &__graf-svg
        top 40px
      &__point
        top 0


@media screen and (max-width 320px)
  .hero
    &__col
      padding-top 100px
    &__col__title
      text-align: center
      font-size 20px
      padding 0 10px 0 10px
    &__col__cop
      text-align: center
      font-size 14px
      margin 10px 0 10px 0
      padding 0 15px 0 15px
    &__col__block-btn>button:last-child
      margin-top 10px
      margin-left 0
    &__col__footer__play
      height 100px
    &__col__footer__play > img
      padding-top 30px
      width: 40px
      height: 40px

  .grafic
    &__col__title
      font-size 40px

    &__col__dec
      padding 0 15px 0 15px

    &__block-img__graf
      width 50%
      left 30px
    &__block-img__people
      width 200px
    &__block-img__graf-svg
      left 0
      top 90px
    &__block-img__point
      left -40px










