// color 
$or = #F2994A
$orhover = #F29000
$grey = #b5b5b5
$blue = #99ffD0
$blue-1 = #8476AA
$white = #ffffff
$colorTextTitle = #99EFD0
$colorP = #8476AA
$blue-2 = #361C5D


// font
$fontSize = 16px
$lineheight = 22 / 14
$fontFamily = 'Roboto', sans-serif